:root {
  --color-b1: #111111;
  --color-b2: #222222;
  --color-b3: #404040;
  --color-wp: #FFFFFF;
  --color-wm: #F5F5F5;
  --color-gw: #E0E0E0;

  --color-y1: #F6C80F;
  --color-y2: #F0CB37;
  --color-y3: #DCBF4B;

  --color-rd: #DD0D0D;
  --color-r2: #F45555;
  --color-gr: #3CCC09;
  --color-g2: #53E221;
  --color-bl: #1E32ED;
  --color-b2: #3D50F8;
}

