h1, h2, h3, div, section, header, body, p, ul, li, a, span {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}
